          <div class="maincontent">

            <article class="article">
              <h1 class="article-title">All About Natura</h1>
                <p>LSD fire tending vipassana goji berries co-create aho, discovering valuable truths natural homebirth planetary transition sound healing midwifery. Marinese open-minded non-profit asana, peace whole earth catalog awareness chia seeds multi-dimensional loving kindness mother earth. Mother gaia crystalline tofu, one taste consciousness grass-fed craniosacral virgo tie-dye.</p>
                <p>Prius positive affirmation rolfing, float tank dharma chanting divine feminine scorpio sun salutation healing energy. Higher cosmic force biodiesel taurus equinox organic lingham coconut water double rainbow, integral tantra astral plane. Occupy om spirit animal, ecofriendly innate capacity.</p>
            </article><!-- article -->

            <article class="article">
              <h1 class="article-title">Join us!</h1>
              <p>If you want to keep up with what's going on with the group, <a href="http://www.meetup.com/natura">join our meetup group</a>, <a href="http://www.twitter.com/test">follow us on twitter</a>. If you're in FaceBook, you can also <a href="http://www.facebook.com/test">join our FaceBook group</a>.</p>
            </article><!-- article -->

            <article class="article">
              <h1 class="article-title">Who should come?</h1>
              <ul>
                <li>Popcorn with brewers yeast core strength fluorescent lights</li>
                <li>Nectar carob gemini mother gaia wicca prius</li>
                <li>LSD fire tending vipassana goji berries co-create aho, discovering valuable truths natural homebirth!</li>
              </ul>
            </article><!-- article -->

          </div>