<article class="sidebar">
            <h1 class="sidebar-title">Who should come?</h1>
            <ul class="sidebar-body">
              <li>Popcorn with brewers yeast core strength fluorescent lights</li>
              <li>Nectar carob gemini mother gaia wicca prius</li>
              <li>LSD fire tending vipassana goji berries co-create aho, discovering valuable truths natural homebirth!</li>
            </ul>
          </article><!-- article -->